{% extends 'base.html' %}
{% load static %}
{% block content %} 
<style>

    #back1{
        background-image: url('{% static "assets/images/organisation.jpg" %}') 
    }
</style>
<div class="block-31" style="position: relative;">
    <div class="owl-carousel loop-block-31 ">
      <div class="block-30 block-30-sm item" id="back1" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-center">
              <h2 class="heading">About The Organization</h2>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
  <div class="site-section mb-5">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-12 mb-5"><h1>Our Motive</h1></div>
        <div class="col-md-6">
            <p class="lead">Committed to helping you find a career where what you enjoy and what you are naturally gifted in collide.This is the intersection of greatness and where individuals are at their highest potential and have maximized their possibilities.
.</p>
            <p> here we will give you a clear understanding of the career options that he/she has before choosing their career.
We will discuss the salient features(pros/cons) of every career option and will show you the right path. We will clearly explain the steps that you have to follow and the courses/coaching you have to take while pursuing your career. This, in turn, will add value to your resume and will make a way for your interest..</p>
            
          </div>
          <div class="col-md-6">
            <p>We will also explain the options that you have for an alternative career option and also the things that one has to learn while pursuing a career for a backup plan based on your career option.
Here we will discuss the most probable queries that will arise in your mind in this phase.</p>
            <p class="lead">Here you can interact with the current industrial experts(based on your career option) online/offline which will help you clarify your doubts regarding career.
</p>
          </div>
      </div>
       <div class="site-section section-counter">
    <div class="container">
      <div class="row">
        <div class="col-md-6 pr-5">
          <div class="block-48">
              <span class="block-48-text-1">Why Are We Different?</span>
              <p class="lead">Intract with Current Industrial Experts</p>
                 <p class="lead">We provide information on skills you need to learn. </p>
    <p class="lead">We also provide career pathways for Sports </p>
              <p class="mb-0"><a href="gallery.html" class="btn btn-white px-3 py-2">View Our Program</a></p>
            </div>
        </div>
        <div class="col-md-6 welcome-text">
          <h2 class="display-4 mb-3">We Believe:</h2>
          <p class="lead">Each person is uniquely designed and should consider their design when evaluating career options.
              .</p>
          <p class="lead">Each person’s unique design is made up of  four dimensions:  Their Personality, Interests, Skills and Values. </p>
             <p class="lead">Each person should know how to brand themselves expertly by a quality resume and expert interviewing skills. </p>
            <p class="lead">Each person should continuously develop in their career and not become stagnant in their field or industry.</p>
        </div>
      </div>
    </div>
  </div>

      <div class="row mt-5">
        <div class="col-md-12 mb-5 text-center mt-5">
          <h2>Leadership</h2>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">
                <img src="{% static 'assets/images/person_1.jpg' %}" alt="Image placeholder">
                <h3 class="block-38-heading">Paladugu Chaitanya Chowdary</h3>
                <p class="block-38-subheading">CEO</p>
              </div>
              <div class="block-38-body">
                <p>Btech 3rd year , Bennett University  </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">
                <img src="{% static 'assets/images/person_2.jpg' %}" alt="Image placeholder">
                <h3 class="block-38-heading">Sk Hazeezuddin</h3>
                <p class="block-38-subheading">President</p>
              </div>
              <div class="block-38-body">
                <p>Btech 3rd year , Bennett University </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">
                <img src="{% static 'assets/images/person_3.jpg' %}" alt="Image placeholder">
                <h3 class="block-38-heading">Kalyan Reddy</h3>
                <p class="block-38-subheading">Marketer</p>
              </div>
              <div class="block-38-body">
                <p>Btech 3rd year , Bennett University . </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">
                <img src="{% static 'assets/images/person_4.jpg' %}" alt="Image placeholder">
                <h3 class="block-38-heading">Suhurth M</h3>
                <p class="block-38-subheading">Partner</p>
              </div>
              <div class="block-38-body">
                <p>Btech 3rd year , Bennett University . </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
<!-- .site-section -->


{% endblock content %}