{% extends 'base.html' %}
{% load static %}
{% block content %} 
<style>

    #back1{
        background-image: url('{% static "assets/images/News-handing.gif" %}') 
    }
</style>
<div class="block-31" style="position: relative;">
    <div class="owl-carousel loop-block-31 ">
      <div class="block-30 block-30-sm item" id="back1" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-7">
              <h2 class="heading mb-5">Articles/News</h2>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
  
  <div class="site-section bg-light">
    <div class="container">
      

      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="post-entry">
            <a href="blog-single.html" class="mb-3 img-wrap">
              <img src="{% static 'assets/images/ai.jpg' %}" alt="Image placeholder" class="img-fluid">
            </a>
            <h3><a href="#">Atifical Intelligence status ?</a></h3>
            <span class="date mb-4 d-block text-muted">March 05, 2020</span>
            <p>In computer science, artificial intelligence (AI), sometimes called machine intelligence, is intelligence demonstrated by machines, in contrast to the natural ....</p>
            <p><a href="#" class="link-underline">Read More</a></p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="post-entry">
            <a href="blog-single.html" class="mb-3 img-wrap">
              <img src="{% static 'assets/images/aws.png' %}" alt="Image placeholder" class="img-fluid">
            </a>
            <h3><a href="#">Career in AWS?</a></h3>
            <span class="date mb-4 d-block text-muted">Jan 26, 2020</span>
            <p>Amazon Web Services (AWS) is a subsidiary of Amazon that provides on-demand cloud computing platforms and APIs to individuals, companies, and ...</p>
            <p><a href="#" class="link-underline">Read More</a></p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="post-entry">
            <a href="blog-single.html" class="mb-3 img-wrap">
              <img src="{% static 'assets/images/alternate.jpg' %}" alt="Image placeholder" class="img-fluid">
            </a>
            <h3><a href="#">What is Alternative careers?</a></h3>
            <span class="date mb-4 d-block text-muted">July 26, 2018</span>
            <p>Here are 10 alternative career options that are not just super interesting but can promise a good pay package too!</p>
            <p><a href="#" class="link-underline">Read More</a></p>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="post-entry">
            <a href="blog-single.html" class="mb-3 img-wrap">
              <img src="{% static 'assets/images/sports.jpg' %}" alt="Image placeholder" class="img-fluid">
            </a>
            <h3><a href="#">You want to change ur career to sports</a></h3>
            <span class="date mb-4 d-block text-muted">July 26, 2019</span>
            <p>Don't limit yourself to similar careers or jobs when making a change; look for opportunities that take advantage of both your skills and interests..</p>
            <p><a href="#" class="link-underline">Read More</a></p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="post-entry">
            <a href="blog-single.html" class="mb-3 img-wrap">
              <img src="{% static 'assets/images/compet.jpg' %}" alt="Image placeholder" class="img-fluid">
            </a>
            <h3><a href="#">How to gain marks in competitive exams?</a></h3>
            <span class="date mb-4 d-block text-muted">July 26, 2019</span>
            <p>List of competitive exams in India after Graduation. Civil Services Examination. Indian Economic Service Examination. .</p>
            <p><a href="#" class="link-underline">Read More</a></p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="post-entry">
            <a href="blog-single.html" class="mb-3 img-wrap">
              <img src="{% static 'assets/images/coading.jpg' %}" alt="Image placeholder" class="img-fluid">
            </a>
            <h3><a href="#">How to learn coading</a></h3>
            <span class="date mb-4 d-block text-muted">July 26, 2018</span>
            <p>Learn How to Code. Learn key programming concepts and write your first lines of code! Start. Overview Syllabus ...</p>
            <p><a href="#" class="link-underline">Read More</a></p>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="post-entry">
            <a href="blog-single.html" class="mb-3 img-wrap">
              <img src="{% static 'assets/images/gov.jpg' %}" alt="Image placeholder" class="img-fluid">
            </a>
            <h3><a href="#">Government job notification</a></h3>
            <span class="date mb-4 d-block text-muted">July 26, 2018</span>
            <p>Indian citizens find your qualification based government job vacancies like 8th Passed Govt Jobs, 10th Passed Govt Jobs, 12th Pass Govt Jobs, ITI Jobs, Diploma .</p>
            <p><a href="#" class="link-underline">Read More</a></p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="post-entry">
            <a href="blog-single.html" class="mb-3 img-wrap">
              <img src="{% static 'assets/images/web.jpg' %}" alt="Image placeholder" class="img-fluid">
            </a>
            <h3><a href="#">Jobs in Web Development</a></h3>
            <span class="date mb-4 d-block text-muted">July 15, 2019</span>
            <p>Start Developing Your Own Professional Website with Wix's Advanced Tools. Get the Flexibility You Need to Create Without Limits and Stand Out Online.</p>
            <p><a href="#" class="link-underline">Read More</a></p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="post-entry">
            <a href="blog-single.html" class="mb-3 img-wrap">
              <img src="{% static 'assets/images/law.jpg' %}" alt="Image placeholder" class="img-fluid">
            </a>
            <h3><a href="#">Top colleges in law</a></h3>
            <span class="date mb-4 d-block text-muted">July 26, 2018</span>
            <p>op LAW Colleges in India - Get 2019 Rankings and info on Placements, Admissions, Cut Off, Courses & Fees. Compare the Best LAW Colleges in India.</p>
            <p><a href="#" class="link-underline">Read More</a></p>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- .section -->


{% endblock content %}