{% extends 'base.html' %}
{% load static %}
{% block content %} 
  
 <style>

   #back1{
     background-image: url('{% static "assets/images/carrer1.jpg" %}');
   }
   #back2{
    background-image: url('{% static "assets/images/bg_3.jpg" %}');
   }
 </style>
  <div class="block-31" style="position: relative;">
    <div class="owl-carousel loop-block-31 ">
      <div class="block-30 block-30-sm item" id="back1"  data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-7">
              <h2 class="heading mb-5">Career Pathways</h2>
              <p class="lead">Your career path will be as individual as you are. You may take a very different route than your colleagues and wind up in the same spot.</p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
  <div class="site-section section-counter">
    <div class="container">
      <div class="row">
        <div class="col-md-6 pr-5">
          <div class="block-48">
              <span class="block-48-text-1">For each career path you will learn :</span>
              <p class="lead">HOW TO GROW IN YOUR CHOSEN CAREER</p>
                 <p class="lead">HOW MUCH YOU WILL EARN EACH STEP OF THE WAY</p>
    <p class="lead">ABOUT LOCAL TRAINING PROGRAMS </p>
              <p class="mb-0"><a href="blog-single.html" class="btn btn-white px-3 py-2">View Our Program</a></p>
            </div>
        </div>
        <div class="col-md-6 welcome-text">
          <h2 class="display-4 mb-3">What are Career Pathways?</h2>
          <p class="lead">A career path specifically includes the jobs that help an individual progress towards his or her goals and objectives
              .</p>
          <p class="mb-4">Whether you are looking for your first job or a second career, we can help you realize your potential and connect to financial aid and training so you can get started on the path that is right for you. </p>
        </div>
      </div>
    </div>
  </div>


  <div class="site-section fund-raisers bg-light">
    <div class="container">
      <div class="row mb-3 justify-content-center">
        <div class="col-md-8 text-center">
          <h2>When planning your career pathway, consider :</h2>
          <p class="lead">What you like?</p>
            <p class="lead">What you're good at?</p>
            <p class="lead">What's important to you?</p>
            <p class="lead">the people you know who may be able to help you.</p>
        </div>
      </div>
    </div>




  <div class="site-section fund-raisers">
    <div class="container">
      <div class="row mb-3 justify-content-center">
        <div class="col-md-8 text-center">
          <h2>Featured Career Pathways</h2>
          <p class="lead">Most higly growing career options </p>
          <p class="mb-5"><a href="blog-single.html" class="link-underline">For all career options</a></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-3 mb-5">
          <div class="person-donate text-center">
            <img src="{% static 'assets/images/healthcare.png' %}" alt="Image placeholder" class="img-fluid">
            <div class="donate-info">
               <p><span class="text-success">Health Care</span>
                <p>You will explore careers such as Registered Nurse, Dental Hygienist, Paramedic, Health Care Management, and more!</p>
                <p class="mb-5"><a href="blog-single.html" class="link-underline">Learn More</a></p>
            </div>
          </div>    
        </div>

         <div class="col-md-6 col-lg-3 mb-5">
      <div class="person-donate text-center">
            <img src="{% static 'assets/images/education.jpg' %}" alt="Image placeholder" class="img-fluid">
            <div class="donate-info">
               <p><span class="text-success">RETAIL, HOSPITALITY, EDUCATION, AND GENERAL</span>
                <p>You will explore careers such as Administration, Operations, Hospitality, Law Enforcement, Sales, and more!</p>
                <p class="mb-5"><a href="blog-single.html" class="link-underline">Learn More</a></p>
            </div>
          </div>    
        </div>
          <div class="col-md-6 col-lg-3 mb-5">
      <div class="person-donate text-center">
            <img src="{% static 'assets/images/it.jpg' %}" alt="Image placeholder" class="img-fluid">
            <div class="donate-info">
               <p><span class="text-success">INFORMATION TECHNOLOGY</span>
                <p>You will explore careers such as Computer Support Specialists, Information Security Analysts, Web Developers, and more! </p>
                <p class="mb-5"><a href="blog-single.html" class="link-underline">Learn More</a></p>
            </div>
          </div>    
        </div>
          <div class="col-md-6 col-lg-3 mb-5">
      <div class="person-donate text-center">
            <img src="{% static 'assets/images/manufacturing.jpg' %}" alt="Image placeholder" class="img-fluid">
            <div class="donate-info">
               <p><span class="text-success">MANUFACTURING, CONSTRUCTION, TRANSPORTATION, AND LOGISTICS</span>
                <p>You will explore careers such as Construction, Maintenance, Production, Transportation, and more! </p>
                <p class="mb-5"><a href="blog-single.html" class="link-underline">Learn More</a></p>
            </div>
          </div>    
        </div>

        
      </div>
    </div>
  </div> <!-- .section -->

  <div class="featured-section overlay-color-2" id="back2">
    
    <div class="container">
      <div class="row">

        <div class="col-md-6">
          <img src="{% static 'assets/images/success stories.jpg' %}" alt="Image placeholder" class="img-fluid">
        </div>

        <div class="col-md-6 pl-md-5">
          <span class="featured-text d-block mb-3">Success Stories</span>
          <h2>"I felt stuck, to be honest.That wasn't something I was comfortable with."</h2>
          <p class="mb-3">I need to learn new things and challenge myself, and if I don't get the opportunities to do that, I get anxious. I decided it was time to move on..</p>
          

          <p><a href="https://www.careershifters.org/success-stories/from-web-development-to-marketing" class="btn btn-success btn-hover-white py-3 px-5">Read The Full Story</a></p>
        </div>
        
      </div>
    </div>

  </div> <!-- .featured-donate -->

  <div class="site-section bg-light">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-12">
          <h2>Latest News</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="post-entry">
            <a href="#" class="mb-3 img-wrap">
              <img src="{% static 'assets/images/gov.jpg' %}" alt="Image placeholder" class="img-fluid">
            </a>
            <h3><a href="#">Latest Government Job posts</a></h3>
            <span class="date mb-4 d-block text-muted">April 6, 2020</span>
            <p>Apply as soon as possible otherwise seats will be alloted</p>
            <p><a href="https://www.indgovtjobs.in/2017/04/Employment-News.html" class="link-underline">Read More</a></p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="post-entry">
            <a href="#" class="mb-3 img-wrap">
              <img src="{% static 'assets/images/market.jpg' %}" alt="Image placeholder" class="img-fluid">
            </a>
            <h3><a href="#">Marketing Jobs</a></h3>
            <span class="date mb-4 d-block text-muted">April 6, 2020</span>
            <p>Top MNC, companies with a mnimum package of 19 lac. Apply Now!!!</p>
            <p><a href="https://www.fresherslive.com/employment-news" class="link-underline">Read More</a></p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="post-entry">
            <a href="https://www.indgovtjobs.in/2017/04/Employment-News.html" class="mb-3 img-wrap">
              <img src="{% static 'assets/images/software.jpg' %}" alt="Image placeholder" class="img-fluid">
            </a>
            <h3><a href="#">Software Jobs</a></h3>
            <span class="date mb-4 d-block text-muted">April 6, 2020</span>
            <p>Top companies in India with a mnimum package of 10 lac. Apply Now!!!</p>
            <p><a href="https://www.jagranjosh.com/employment-news-st-1348730577" class="link-underline">Read More</a></p>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- .section -->

  <div class="featured-section overlay-color-2" style="background-image: url('images/bg_2.jpg');">
    
    <div class="container">
      <div class="row">

        <div class="col-md-6 mb-5 mb-md-0">
          <img src="{% static 'assets/images/feeback.jpg' %}" alt="Image placeholder" class="img-fluid">
        </div>

        <div class="col-md-6 pl-md-5">

          <div class="form-volunteer">
            
            <h2>Send Feedback</h2>
            <form action="#" method="post">
              <div class="form-group">
                <!-- <label for="name">Name</label> -->
                <input type="text" class="form-control py-2" id="name" placeholder="Enter your name">
              </div>
              <div class="form-group">
                <!-- <label for="email">Email</label> -->
                <input type="text" class="form-control py-2" id="email" placeholder="Enter your email">
              </div>
              <div class="form-group">
                <!-- <label for="v_message">Email</label> -->
                <textarea name="v_message" id="" cols="30" rows="3" class="form-control py-2" placeholder="Write your message"></textarea>
                <!-- <input type="text" class="form-control py-2" id="email"> -->
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-white px-5 py-2" value="Send">
              </div>
            </form>
          </div>
        </div>
        
      </div>
    </div>

  </div> <!-- .featured-donate -->


{% endblock content %}